<!DOCTYPE html>
<html>
  <head>
    <title>Onion Peeler!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="assets/style/style.css">
  </head
<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper yellow darken-2">
            <a href="/" class="brand-logo right">
            <i class="material-icons">speaker_notes</i> Onion Peeler!</a>
            <a href="" data-activities="mobile-demo" class="button-collapse">
            <i class="material-icons">menu</i></a>
                <ul class="left hide-on-med-and-down">
                    <li><a href="https://www.theonion.com/" target="_new">The Onion</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <main>

    <div class="container">
        <ul class="collection with-header">
            <li class="collection-header red lighten-3">
                <h3>This is the Onion Peeler!</h3></li>
              <li class="collection-item">This application lets you read and comment on news articles that were scrapped from The Onion.</li>
          <li class="collection-item"><div>Click <i class="material-icons">speaker_notes</i> in the navbar to scrape the data again.</div></li>
          <li class="collection-item"><div>Click <i class="material-icons">language</i> to view an article.</div></li>
          <li class="collection-item"><div>Click <i class="material-icons">comment</i> to comment on the article.</div></li>
          <li class="collection-item"><div>Click <i class="material-icons">thumbs_up_down</i> to view the comments.</div></li>
        </ul>
    </div>

    <div class="container">
        {{{body}}}
    </div>

    </main>

    
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

<script type="text/javascript" src="assets/javascript/app.js"></script>
</body>
</html>